body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
}
img { 
    display: block;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
} 
.header-logo .logo-part {
color: #2e2f42;
}
.nav-list {
    display: flex;
        align-items: center;
        gap: 40px;
}
.nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: block;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link.current {
    position: relative;
    
}
.nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    
}
.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus,
.nav-link.current {
    color: #404bbf;
}
.address {
    font-style: normal;
    margin-left: auto;
}
.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), 
    url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
        max-width: 1440px;
        margin: 0 auto;
    
}

.hero-title {
        font-size: 56px;
        text-align: center;
        line-height: 1.07;
        letter-spacing: 0.02em;
        color: #fff;
        margin: 0 auto;
        margin-bottom: 48px;
        max-width: 496px;
    
}

.hero-button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        border-radius: 4px;
        padding: 16px 32px;
        display: block;
        margin: 0 auto;
        border: none;
        min-width: 169px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}
.features {
    padding: 120px 0;
}
.features-list {
    display: flex;
    gap: 24px;
}
.features-item {
    width: calc((100% - 72px) / 4);
}
.features-item-border {
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
}
.features-subtitle {
        font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: #2e2f42;
            margin-bottom: 8px;
}

.features-text
 {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.our-team-title {
    text-align: center;
    text-transform: capitalize;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 72px;
}
.our-team-list {
    display: flex;
    gap: 24px;
}
.our-team-item {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        
}
.our-team-item-container {
    padding: 32px 0;
}
.our-team-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 8px;
}
.our-team-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;   
        text-align: center;
}
.our-team-border {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 8px;
    
}
.our-team-border-item {
    display: flex;
    width: 40px;
    height: 40px;
}
.our-team-border-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-border .our-team-border-link:hover,
.our-team-border .our-team-border-link:focus {
    background-color: #404bbf;
}
.our-team-icon {
    fill: #f4f4fd;
    align-items: center;
        justify-content: center;
}
.our-portfolio {
    padding: 120px 0;
}
.our-portfolio-title {
    text-align: center;
    text-transform: capitalize;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 72px;
}
.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.our-portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-item-container {
border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}
.our-portfolio-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.our-portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.thumb {
    position: relative;
    overflow: hidden;
}
.thumb-text {
position: absolute;
background-color: #4d5ae5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
top: 0;
left: 0;
width: 100%;
height: 100%;
transform: translatey(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-item:hover {
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}
.our-portfolio-item:hover .thumb-text,
.our-portfolio-item:focus .thumb-text {
    transform: translatey(0);
    
}
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}
.footer-container {
display: flex;
gap: 16px;
align-items: baseline;
margin: auto;
}


.social-media-text {
    font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}

 .our-team-border-item > .our-team-border-link  {
    background-color: #4d5ae5;
        border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-border .our-team-border-link:hover,
.footer-border .our-team-border-link:focus {
background-color: #31d0aa;
}
.footer-border {
    gap:16px;
}
.footer-logo-wrapper {
    margin-right: 120px;
}

.subscribe-container {
    margin-left: auto;
        min-width: 453px;
}
.footer-form {
    display: flex;
   
    gap: 24px;
}
.subscribe-label {
 font-weight: 500;
 color: #fff;
 margin-bottom: 16px;
}
.subscribe-input {
border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: transparent;
font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 8px 16px;
}
.subscribe-input::placeholder {
color: #fff;
font-family: "Roboto", sans-serif;

}
.subscribe-input:hover {
    border-color: #4d5ae5;
}
.subscribe-button {
display: flex;
align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
padding: 8px 24px;
min-width: 165px;
height: 40px;
background-color: #4d5ae5;
border: none;
cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover,
.subscribe-button:focus {
background-color: #404bbf;
}
.subscribe-icon {
 fill: #f4f4fd;
 margin-left: 16px;
}
.subscribe-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}




.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    background-color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    padding: 24px;
    padding-top: 72px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

.backdrop-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.modal-close-button {
display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    border-radius: 50%;
    min-width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;
    top: 24px;
    right: 24px;       
}
.modal-close-button:hover .backdrop-icon,
.modal-close-button:focus .backdrop-icon {
    fill: #ffffff;
}
.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
} 

.modal-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
    margin-bottom: 16px;
    max-width: 360px;
    

}

.form-name-wrapper {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
    margin-bottom: 4px;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 360px;
        height: 40px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.input-container {
    position: relative;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}

.modal-textarea {
    display: block;
    border-radius: 13px;
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 360px;
        height: 120px;
    resize: none;
    outline: none;
    font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-textarea::placeholder {
    padding-top: 8px;
    padding-left: 16px;
}
        

.form-comment-container {
    margin-bottom: 16px;
}

.checkbox-icon {
    fill: #f4f4fd;
}

.modal-submit {
border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border: none;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit:hover,
.modal-submit:focus {
    background-color: #404bbf;
}

.modal-checkbox-container {
    margin-bottom: 24px;
}

.custom-checkbox {
    border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked+.custom-label-checkbox>.custom-checkbox {
    border-color: #404bbf;
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.custom-label-checkbox {
    cursor: pointer;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.label-user-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    line-height: 1.33;
        color: #4d5ae5;
}