body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}
ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
img { 
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.header-logo {
    padding: 16px 0;
    display: block;
} 
.header-logo .logo-part {
color: #2e2f42;
}
.nav-list {
    display: none;
}

.address {
    display: none;
}
 .address-list {
    display: flex;
    align-items: center;
    gap: 40px;
} 

.menu-button {
    padding: 0;
    background-color: transparent;
    border: none;
}
.menu-icon {
    display: block;
    fill: #2f2f37; 
}

.mob-menu {
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    padding: 72px 24px 40px 16px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    flex-direction: column;
}
.mob-menu.is-open {
    opacity: 1;
visibility: visible;
pointer-events: auto;
}
.mobile-menu-close {

display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    border-radius: 50%;
    min-width: 24px;
    height: 24px;
    background-color: transparent;
    border: 1px solid #e7e9fc;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;
    top: 24px;
    right: 24px;
    margin-bottom: 24px;
}
.mobile-menu-close:hover,
.mobile-menu-close:focus {
    background-color: #e7e9fc;
}
.mobile-menu-icon {
    fill: #2e2f42;
}

.mob-menu-list {
display: flex;
flex-direction: column;
gap: 40px; 
   margin-bottom: auto;
}

.mob-link {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
    color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-link:hover,
.mob-link:focus {
    color: #404bbf;
}
.mob-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
}

.mob-address-item:hover,
.mob-address-item:focus {
    color: #4d5ae5;
}

.mob-address-link {
font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    
}

.mob-socials {
    display: flex;
    gap: 40px;
}

.mob-socials-link {
    display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        
        border-radius: 50%;
        background-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.mob-socials-icon {
    fill: #f4f4fd;
}
    


 

.hero {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), 
    url(../images/people-office-tel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
    
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx),
(min-resolution: 192dpi) {

.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office-tel-2x.jpg);
    }
}
.hero-title {
        font-size: 36px;
        text-align: center;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #fff;
        margin: 0 auto;
        margin-bottom: 72px;
        max-width: 216px;
    
}

.hero-button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        border-radius: 4px;
        padding: 16px 32px;
        display: block;
        margin: 0 auto;
        border: none;
        min-width: 169px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}
.features {
    padding: 96px 0;
}
.features-list {
    display: flex;
    flex-wrap: wrap; 
    gap: 72px;
}
.features-item {
    width: 100%;
}


.features-item-border {
        display: none;
}
.features-subtitle {
            font-size: 36px;
            font-weight: 700;
            line-height: 1.1;
            letter-spacing: 0.02em;
            color: #2e2f42;
            margin-bottom: 8px;
            text-align: center;
}

.features-text
 {
    font-size: 16px;
    font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.our-team {
    background-color: #F4F4FD;
    padding: 96px 28px;
}
.our-team .container {
    max-width: 296px;
    padding: 0 16px;
}
.our-team-title {
    text-align: center;
    text-transform: capitalize;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 72px;
}
.our-team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    justify-content: center;
    align-items: center;
}
.our-team-item {
    background-color: #FFFFFF;
    padding: 0px 0px 32px 0px;
    width: 100%;
    border-radius: 0 0 4px 4px;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        
}
.our-team-item-container {
    padding: 32px 16px 0;
    
}
.our-team-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 8px;
}
.our-team-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;   
        text-align: center;
}
.our-team-border {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-top: 8px;
    
}
.our-team-border-item {
    display: flex;
    width: 40px;
    height: 40px;
}
.our-team-border-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-border .our-team-border-link:hover,
.our-team-border .our-team-border-link:focus {
    background-color: #404bbf;
}
.our-team-icon {
    fill: #f4f4fd;
    align-items: center;
        justify-content: center;
}
.our-portfolio {
    padding: 96px 0;
}

.our-portfolio-title {
    text-align: center;
    text-transform: capitalize;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-weight: 700;
        margin-bottom: 72px;
}
.our-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}
.our-portfolio-item {
    max-width: 100%;
 box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08); 
}
 
.our-portfolio-item-container {
border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
}
.our-portfolio-subtitle {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.our-portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.thumb-text {
    display: none;
}

.page-footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}
.footer-logo {
    margin-bottom: 16px;
    text-align: center;
        display: block;
   
    
}
.footer-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 288px;
}
.footer-container {
display: flex;
flex-wrap: wrap;
gap: 72px;
}
.footer-logo-wrapper {
margin-right: 0;
}
.social-media-wrapper {
margin-left: auto;
margin-right: auto;
}
.social-media-text {
    font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
text-align: center;
}

 .our-team-border-item > .our-team-border-link  {
    background-color: #4d5ae5;
        border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-border .our-team-border-link:hover,
.footer-border .our-team-border-link:focus {
background-color: #31d0aa;
}

.subscribe-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.subscribe-label {
 font-weight: 500;
 color: #fff;
 display: block;
 
}
.subscribe-input {
border: 1px solid #fff;
border-radius: 4px;
width: 288px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: transparent;
font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 8px 16px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}
.subscribe-input::placeholder {
color: #fff;
font-family: "Roboto", sans-serif;

}
.subscribe-input:hover {
    border-color: #4d5ae5;
}
.subscribe-button {
display: flex;
align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 4px;
padding: 8px 24px;
min-width: 165px;
height: 40px;
background-color: #4d5ae5;
border: none;
cursor: pointer;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover,
.subscribe-button:focus {
background-color: #404bbf;
}
.subscribe-icon {
 fill: #f4f4fd;
 margin-left: 16px;
}
.subscribe-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-left: auto;
margin-right: auto;

}




.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    z-index: 999;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    background-color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;
    padding: 24px 16px;
    padding-top: 72px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

.backdrop-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.modal-close-button {
display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    border-radius: 50%;
    min-width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);

    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    position: absolute;
    top: 24px;
    right: 24px;       
}
.modal-close-button:hover .backdrop-icon,
.modal-close-button:focus .backdrop-icon {
    fill: #ffffff;
}
.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
} 

.modal-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        max-width: 256px;
    margin-bottom: 16px;
    
    

}

.form-name-wrapper {
    margin-bottom: 8px;
}

.modal-label {
    display: block;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
    margin-bottom: 4px;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 256px;
        height: 40px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.input-container {
    position: relative;
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}

.modal-textarea {
    display: block;
    border-radius: 13px;
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 256px;
        height: 120px;
    resize: none;
    outline: none;
    font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.modal-textarea::placeholder {
    padding-top: 8px;
    padding-left: 16px;
}
        

.form-comment-container {
    margin-bottom: 16px;
}

.checkbox-icon {
    fill: #f4f4fd;
}

.modal-submit {
border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border: none;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-submit:hover,
.modal-submit:focus {
    background-color: #404bbf;
}

.modal-checkbox-container {
    margin-bottom: 24px;
}

.custom-checkbox {
    border-radius: 2px;
        border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    fill: transparent;
    flex-shrink: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked+.custom-label-checkbox>.custom-checkbox {
    border-color: #404bbf;
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.custom-label-checkbox {
    cursor: pointer;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: flex;
        align-items: center;
}


.label-user-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    line-height: 1.33;
        color: #4d5ae5;
}
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .header-nav {
        display: flex;
        align-items: center;
}
    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }
    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        display: block;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .nav-link.current {
        position: relative;
    
    }
    .nav-link.current::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    
    }
    
    .nav-link:hover,
    .nav-link:focus,
    .address-link:hover,
    .address-link:focus,
    .nav-link.current {
        color: #404bbf;
    }
    .address {
        font-style: normal;
        display: block;
    }  
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        }
        .address-link {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    .menu-button {
        display: none;
        }
.mob-menu {
    display: none;
}
    .hero {
        padding: 112px 136px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office-tab.jpg);
        max-width: 768px;
    }
    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)),
                url(../images/people-office-tab-2x.jpg);
            }
        }
    .hero-title {
        max-width: 496px; 
        margin-bottom: 36px;
        line-height: 1.07;
        font-size: 56px;
    }
        .features-list {
            row-gap: 72px;
            column-gap: 24px;
        }
    
        .features-item {
            width: calc((100% - 24px) / 2);
        }
    
        .features-subtitle {
            margin-bottom: 0;
            text-align: left;
        }
    .our-portfolio-list {
        column-gap: 24px;
        row-gap: 72px;
    }
    .our-portfolio-item {
        width: calc((100% - 24px) / 2);
    }
    .our-team-list {
        row-gap: 64px;
        column-gap: 24px;
    }
    .our-team-item {
        width: calc((100% - 24px) / 2);
    }
    .footer-container {
        padding-left: 108px;
        padding-right: 108px;
        column-gap: 24px;
        row-gap: 72px;
    }
        .footer-logo {
            text-align: left;
        }
    .footer-text {
        max-width: 264px;
    }
        .social-media-wrapper {
            margin-left: 0;
            margin-right: 0;
        }
        .social-media-text {
            text-align: left;
        }
        .subscribe-container {
            display: block;

    }
        .subscribe-text {
            margin-bottom: 16px;
    }
    .subscribe-input {
        width: 264px;
    }
        .footer-form {
            display: flex;
            gap: 24px;
    }
    .modal {
         width: 408px;
            min-height: 584px;
         padding-left: 24px;
         padding-right: 24px;
         padding-bottom: 24px;
         padding-top: 0;
    }
    .modal-text {
        max-width: 360px;
        padding-top: 72px;
    }
    .modal-input {
        width: 360px;
    }
    .modal-textarea {
        width: 360px;
    }
}
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
    .header-logo {
        margin-right: 76px;
    }   
    .address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }
    
    
    .features {
        padding: 120px 0;
    }
    .features-list {
        flex-wrap: nowrap;
        gap: 24px;
    }
    .features-item {
        width: calc((100% - 72px) / 4);
    }
    .features-item-border {
        background-color: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .features-subtitle {
        font-weight: 500; 
        font-size: 20px; 
        line-height: 1.2; 
    }
    .features-text {
        font-weight: 400;
    }
    .hero {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                 url(../images/people-office.jpg);
        max-width: 1440px;
         }
    @media screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                        rgba(46, 47, 66, 0.7)),
                    url(../images/people-office-desktop-2x.jpg);
            }
        }
    .hero-title {
        margin-bottom: 48px;
         }
    .our-portfolio {
        padding: 120px 0;
        }
    .our-portfolio-list {
        row-gap: 48px;
    }
       
    .our-portfolio-item {
        width: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: none;
    }
        .our-portfolio-item:hover {
            box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
            background: #fff;
        }
    .thumb {
        position: relative;
        overflow: hidden;
        }
    
    .thumb-text {
        display: flex;
        position: absolute;
        background-color: #4d5ae5;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translatey(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    .our-portfolio-item:hover .thumb-text,
    .our-portfolio-item:focus .thumb-text {
        transform: translatey(0);
    }
    .our-team {
        padding: 120px 0;
    }
    .our-team .container {
        max-width: 1158px;
        padding: 0 15px;
        }
    .our-team-list {
        flex-wrap: nowrap;
        gap: 24px;
        }
    
    .our-team-item {
        width: calc((100% - 72px) / 4);
        }
    .page-footer {
        padding: 100px 0;
    }
    .footer-container {
     gap: 16px;
        align-items: baseline;
    margin: auto;
    }
    .footer-border {
        gap:16px;
    } 
    .footer-logo-wrapper {
        margin-right: 120px;
    } 
    .subscribe-container {
        margin-left: auto;
        min-width: 453px;
}
}
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .our-team .container {
        max-width: 584px;
        padding: 0 16px;
    }
}
